@use '../base/var' as *;

.archive {
	position: relative;
	overflow-y: auto;
	padding: $lc-top-height 1rem 1rem;

	h1 {
		font-family: $lc-font--alt;
		font-size: 2rem;

	}

	.archive-tile {
		display: flex;
		margin: .5rem 0;
		padding: 1rem;
		border: 1px solid $lc-gray--dark;
		overflow: hidden;
		border-radius: .5rem;
		cursor: pointer;

		&.completed {
			background-color: $lc-primary;
			border: 1px solid $lc-gray;
		}
		
		&:hover, &:focus {
			background-color: $lc-gray--light;
			border: 1px solid $lc-gray--light;
		}
		
		.tile-name {
			display: b;
			overflow: hidden;
			// max-width: 40px;
			text-wrap:nowrap;
			text-overflow: ellipsis;
		}
	}
}