@use '../base/var' as *;

#clue-container {
	position: relative;
	top: $lc-top-height;
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-self: center;
	width: 100%;
    height: $lc-clue-container-height;
    margin: 0 auto;
	padding: 0 2rem;
	text-align: center;
	overflow: hidden;
	font-size: 20px;
	text-wrap: balance;

	.disabled {
		cursor: default;
	}

	.clue {	
		transition: opacity .25s ease;

		.letter {
			transition: top $lc-transition ease, left $lc-transition ease, opacity .15s ease, color .15s ease, background-color .15s ease;
		}
	}
	
	.solution {
		position: absolute;
		bottom: 25%;
		left: 50%;
		transform: translate(-50%,50%);
		font-family: $lc-font--alt;
		letter-spacing: 1rem;
		z-index: 10;
		opacity: 0;
		transition: opacity $lc-transition--short ease;
		text-align: center;
		margin: 0 auto;
		font-size: 1.5rem;

		.letter {
			text-transform: uppercase;
			// border: 1px solid $lc-black;
		}
	} 
}