@use '../base/var' as *;

.learn {
	position: relative;
	overflow-y: auto;
	padding: 1rem 1rem 5rem;

	.back-button {
		margin-bottom: 1.5rem;
	}

	.learn-section {
		&:not(:last-of-type) {
			margin-bottom: 2rem;
		}

		.learn-question {
			font-size: 28px;
			font-weight: 700;
		}

		img.border {
			border: 2px solid $lc-gray--dark;
		}

		ul {
			padding-left: 1rem;

			&.no-dec {
				list-style-type: none;
			}
		}


		.disclaimer {
			// font-size: 16px;
			background-color: $lc-secondary--light;
		}

		.example-container {
			border: 1px solid $lc-gray--dark;
			border-radius: .5rem;
			margin-bottom: 1rem;
			
			.example {
				padding: 1.5rem .5rem .5rem;
				font-family: $lc-font--serif;
				margin-bottom: 1.5rem;
				text-align: center;
			}

			.explanation {
				background-color: $lc-gray--light;
				padding: 1rem;
				font-size: .9rem;
				
				strong {
					font-family: $lc-font--serif;
					text-transform: uppercase;
					font-size: .8rem;
				}
	
				img {
					margin-top: .5rem;
					border: none;
					border-radius: .5rem;
				}
			}
			.solution {
				display: flex;
				justify-content: center;
				margin-top: 1rem;

				.letter {
					text-transform: uppercase;
					position: relative;
					text-align: center;
					display: inline-block;
					width: 24px;
					height: 24px;
					padding-top: 2px;
					border: .75px solid $lc-text;
					// border-right: none;
	
					&:last-child {
						border-right: 1px solid $lc-text;
					}
				}
			}
		}

		.indicators {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 0 !important;
			list-style-type: none;

			.indicator {
				margin: .25rem;
				padding: 0 .25rem;
				font-family: $lc-font--serif;
				background-color: $lc-secondary--v-light;
				font-size: .9rem;
			}
		}
	}

	.learn-types {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 0 !important;

		li {
			font-size: 16px;
			border: 1px solid $lc-gray--dark;
			border-radius: 50px;
			width: fit-content;
			padding: .2rem .75rem;
			margin: .3rem .25rem !important;
			cursor: pointer;

			&:hover, &:active, &:focus, &.viewed {
				border: 1px solid $lc-primary--light;
				background-color: $lc-primary--light;
			}
		}
	}
}