.score-grid {
  --score-grid-cell: 6px;
  --score-grid-gap: 1px;

  display: flex;
  flex-direction: column;
  gap: var(--score-grid-gap);

  &__row {
    display: flex;
    gap: var(--score-grid-gap);
  }

  &__cell {
    width: var(--score-grid-cell);
    height: var(--score-grid-cell);
    border-radius: 1px;

    &--time {
      background-color: #7bb886;
    }

    &--guesses {
      background-color: var(--lc-primary);
    }

    &--hints {
      background-color: var(--lc-secondary);
    }

    &--empty {
      background-color: #e8e4df;
    }
  }

  // Preset sizes
  &--sm {
    --score-grid-cell: 6px;
    --score-grid-gap: 1px;
  }

  &--md {
    --score-grid-cell: 10px;
    --score-grid-gap: 2px;
  }
}

// Dark mode empty cells
html.dark .score-grid__cell--empty {
  background-color: #3d3a37;
}
