@use '../base/var' as *;

.tooltip-parent {
	position: relative;

	.tooltip {
		position: absolute;
		visibility: hidden;
		width: max-content;
		max-width: 150px;
		top: 32px;
		left: 50%;
		transform: translateX(-50%);
		font-family: $lc-font--sans;
		font-size: 14px;
		text-transform: none;
		color: #fff;
		background-color: #444;
		padding: .5rem .25rem;
		border-radius: 4px;
		z-index: 7;

		@media (min-width: 769px) {
			max-width: 250px;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent $lc-secondary--dark transparent;
		}

		&.above:after {
			border-color: $lc-secondary--dark transparent transparent transparent;
		}

		.tooltip-description {
			margin-bottom: .75rem;
		}

		.tooltip-example {
			text-transform: uppercase;
			font-size: 12px;
		}
	}

	&:focus,
	&:active,
	&:hover {
		.tooltip {
			visibility: visible;
		}
	}
}