@use '../base/var' as *;

.top-bar {
	position: fixed;
	width: 100vw;
	height: $lc-top-height;
	top: 0;
	left: 0;
	background-color: $lc-gray--light;
	z-index: 1;
	
	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: .5rem;

		a img {
			max-width: 40px;
		}
	}
}