@use '../base/var' as *;

.top-bar {
	background-color: $lc-gray--light;
	height: $lc-top-height;
	
	.container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: .5rem;
	}
}