html, body, #root {
    height: 100%;
	font-size: 18px;
}

body {
    display: flex;
	font-family:Georgia, 'Times New Roman', Times, serif;
	overflow: hidden;
}

#root {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
	justify-content: center;
    align-self: center;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
	text-transform: uppercase;
}