html, body {
    height: 100%;
	// width: 100%;
	font-size: 16px;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

body {
    display: flex;
	font-family:Georgia, 'Times New Roman', Times, serif;
}

#root {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-self: center;
	width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 0 auto;
	padding: 0 2rem;
}

img {
	max-width: 100%;
}