@use './var' as *;

body {
	font-family: $lc-font--sans;
	color: $lc-text;
	// line-height: 1.25rem;
}

h1, h2, h3 {
	font-weight: bold;
}

h2 {
	font-size: 1.25rem;
}

p {
	margin: .25rem 0;
}

a {
	color: unset;
		text-decoration: unset;
}

li {
	margin: .25rem 0;
}

button {
	font-family: $lc-font--sans;
	font-size: 1rem;
	line-height: 1;
}

.underline {
	text-decoration: underline;
}

.highlight {
	background-color: $lc-secondary--light;
}