// Main colors

$lc-primary: #EF9E6C;
$lc-primary--light: #FFCBAB;
$lc-primary--v-light: #FFEEE3;
$lc-primary--dark: #C94F03;

$lc-secondary: #b9ace2;
$lc-secondary--light: #E1D8FF;
$lc-secondary--v-light: #F0EEF6;
$lc-secondary--dark: #68589E;

$lc-hint0: $lc-primary;
$lc-hint0--dark: $lc-primary--dark;

// Grays
$lc-text: #222;
$lc-text--light: #666;
$lc-black: #222;
$lc-gray: #E2E2E2;
$lc-gray--light: #F3F3F3;
$lc-gray--v-light: #F9F9F9;
$lc-gray--dark: #d2d2d2;

// Transition
$lc-transition: 2.5s;
$lc-transition--short: .85s;
$lc-transition--very-short: .5s;

// Height
$lc-top-height: 60px;
$lc-bottom-height: 35%;
$lc-keyboard-height: fit-content;
$lc-clue-input-height: 20%;
$lc-clue-container-height: calc((100% - $lc-bottom-height) - $lc-top-height);

// Font
$lc-font--serif: 'Gelasio', 'Times New Roman', serif;
$lc-font--sans: 'Open Sans', 'Arial', 'Open Sans', sans;
$lc-font--alt: 'Caveat', 'Helvetica', 'Arial', 'Open Sans', sans;