// Main colors
$lc-primary: #B0D236;
$lc-primary--dark: #648000;
$lc-secondary: #F1AB7F;
$lc-secondary--dark: #C94F03;
$lc-secondary--light: #FFCBAB;

// Grays
$lc-text: #222;
$lc-black: #222;
$lc-gray: #F3F3F3;
$lc-gray--light: #F9F9F9;

// Transition
$lc-transition: 2.5s;
$lc-transition--short: 1s;

// Height
$lc-top-height: 60px;
$lc-bottom-height: 45%;
$lc-clue-container-height: calc((100% - $lc-bottom-height) - $lc-top-height);

// Font
$lc-font--alt: 'Helvetica', sans-serif;