@use '../base/var' as *;

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	font-family: $lc-font--sans;

	.title-logo {
		max-width: 70px;
	}

	.title-gif {
		max-width: 280px;
	}

	.title-intro {
		max-width: 350px;
		text-align: left;

		p {
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	}

	.title-stats {
		font-size: .85rem;
		// border: 1px solid $lc-gray--dark;
		border-radius: .5rem;
		padding: 1rem 2rem;

		.stats-streak,
		.stats-guesses,
		.stats-hints {
			// display: flex;
			// justify-content: flex-end;
			text-align: center;
			border-radius: 4px;
			padding: .25rem 1rem;
			font-weight: 500;

			span {
				// margin-left: .5rem;
				// width: 25px;
				// text-align: center;
				font-weight: 600;
				// background-color: green;
			}
		}

		.stats-streak {
			// background-color: $lc-gray--light;
			border: 1px solid $lc-gray--dark;
		}

		.stats-guesses {
			background-color: $lc-primary--light;
			// color: $lc-primary--dark;
		}

		.stats-hints {
			background-color: $lc-secondary--light;
			// color: $lc-secondary--dark;

		}
	}

	.title-actions {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		.title-date {
			margin: .5rem auto;
			font-family: $lc-font--sans;
			font-size: .85rem;
			color: $lc-text--light;
		}
	}
}