@use "../../base/var" as *;



#clue-container {

	> div {
		min-height: 50px;
	}

	.clue {	
		transition: opacity $lc-transition--short;

		.letter {
			transition: top $lc-transition, left $lc-transition;
		}
	}
	
	.solution {
		z-index: 10;
		opacity: 0;
		transition: opacity $lc-transition--short;

		.letter {
			text-transform: uppercase;
		}
	} 
}