@use "../../base/var" as *;

#clue-container {

	> div {
		min-height: 50px;
	}

	.clue {	
		.letter {
			z-index: 10;
		}
	}

	.solution .letter {
		color: $lc-text;
		opacity: 0;
		transition: opacity 1s;
	}
	

	&.solution {
		.clue .letter {
			// opacity: 0;
			transition: top 1.5s;
		}

		.solution .letter {
			opacity: 1;
			color: pink;
			transition: opacity 1s;
		}
	}
}