@import url(http://fonts.googleapis.com/css?family=Gelasio);

body {
  font-family: 'Gelasio';
  background-color: #f8f8f8;
  color: #555;
}

.city {
  display: flex;
  align-items: center;
}

.icon {
  width: 50px;
}


.anagram-swap {
	color:red;
}
