// Base
@use './base/body';
@use './base/typo';
@use './base/bootstrap';

// Pages
@use './pages/clue';
@use './pages/clues';
@use './pages/learn';
@use './pages/title';
@use './pages/creators';
@use './pages/resources';
@use './pages/container-404';

// Components
@use './components/top-bar';
@use './components/input';
@use './components/tooltip';
@use './components/modal';
@use './components/hint-tooltip';
@use './components/onboarding';
@use './components/achievements';
@use './components/post-solve-popup';

// Bottom
@use './components/bottom/bottom';
@use './components/bottom/button-container';
@use './components/bottom/button';
@use './components/bottom/keyboard';
@use './components/bottom/message';
@use './components/bottom/celebration';

// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;