@use '../../base/var' as *;

.bottom {
	// position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	min-height: fit-content;
	// flex-grow: 1;
	height: 35%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	// background-color handled by Tailwind classes in React component
}

// Center buttons vertically when keyboard is hidden on desktop
@media (min-width: 768px) and (max-height: 849px) {
	.bottom {
		align-items: center;
		justify-content: center;
	}
}