@use '../../base/var' as *;

.bottom {
	width: 100%;
	height: $lc-bottom-height;
	display: flex;
	background-color: $lc-gray--light;

	& > .container {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
	}
}