@use '../../base/var' as *;

.bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: $lc-bottom-height;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	background-color: $lc-gray--light;
}