@use "../../base/var" as *;

.button-container {
	&.stack {
		.show-btn {
			width: 34%;
		}
	}
}

.show-btn {
    outline: none;
    border: none;
    padding: .75rem 1.5rem;
    margin: .5rem 1rem;
    cursor: pointer;
	border-radius: 50px;
	max-width: 300px;

	&:hover, &:active {
		filter: brightness(.95);
	}

	&.primary {
		background-color: $lc-primary;
		border: 1px solid $lc-primary;
	}

	&.alt {
		background-color: $lc-secondary;
		border: 1px solid $lc-secondary;
	}

	&.secondary {
		background: none;
		border: 1px solid $lc-text;

		&:hover, &:active {
			filter: brightness(.95);
			background-color: $lc-gray;
			border: 1px solid $lc-gray;
		}

	}

	&.gray {
		background-color: $lc-gray--light;
		border: 1px solid $lc-gray--light;

		&:hover, &:active {
			filter: brightness(.95);
			background-color: $lc-gray;
			border: 1px solid $lc-gray;
		}
	}
}