@use "../../base/var" as *;

.show-btn {
    outline: none;
    border: none;
    padding: .75rem 1.5rem;
    margin: .5rem 1rem;
    cursor: pointer;
	border-radius: 50px;
	max-width: 300px;

	&:hover, &:focus {
		filter: brightness(.95);
	}

	&.primary {
		background-color: $lc-primary;
	}

	&.alt {
		background-color: $lc-secondary;
	}

	&.secondary {
		background: none;
		border: 1px solid $lc-text;

		&:hover, &:focus {
			filter: brightness(.95);
			background-color: $lc-gray;
			border: none;
		}

	}

	&.gray {
		background-color: $lc-gray--light;

		&:hover, &:focus {
			filter: brightness(.95);
			background-color: $lc-gray;
			border: none;
		}
	}
}