@use "../../base/var" as *;
@use "../../base/media" as *;

.button-container {
	&.stack {
		.show-btn {
			min-width: fit-content;
			width: 60%;
			max-width: 300px;
		}
	}
}

.show-btn {
    outline: none;
    border: none;
    padding: .5rem 1rem;
    margin: .5rem;
    cursor: pointer;
	border-radius: 50px;
	max-width: 300px;

	@include max(390px) {
		font-size: 16px;
	}

	&:hover, &:active {
		filter: brightness(.95);
	}

	&.primary {
		background-color: $lc-primary;
		border: 1px solid $lc-primary;
	}

	&.alt {
		background-color: $lc-secondary--light;
		border: 1px solid $lc-secondary--light;
	}

	&.secondary {
		background: none;
		border: 1px solid $lc-text;

		&:hover, &:active {
			filter: brightness(.95);
			background-color: $lc-gray;
			border: 1px solid $lc-gray;
		}

	}

	&.gray {
		background-color: $lc-gray--light;
		border: 1px solid $lc-gray--light;

		&:hover, &:active {
			filter: brightness(.95);
			background-color: $lc-gray;
			border: 1px solid $lc-gray;
		}
	}
}