@use '../../base/var' as *;

.keyboard {
	width: 100%;
	height: $lc-keyboard-height;
	padding: 0 .25rem .5rem;
	text-align: center;
	align-self: flex-end;

	@media (max-height: 600px) {
		padding: 0 .25rem .25rem;
	}

	.k-row {
		display: flex;
		justify-content: space-evenly;
		margin: .5rem 0;

		button {
			position: relative;
			// background-color handled by Tailwind classes in React component
			border: none;
			width: 100%;
			height: 48px;
			border-radius: 8px;
			margin: 0 .25rem;
			padding: 0;

			@media (max-height: 600px) {
				height: 36px;
			}

			&#backspace {
				width: 150%;
				// background-color handled by Tailwind classes in React component
			}

			span,
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				display: block;
			}
		}
	}
}

// Hide keyboard on desktop devices (wider screens) with limited height
// Users will use hardware keyboard for input
@media (min-width: 768px) and (max-height: 849px) {
	.keyboard {
		display: none;
	}
}