@use '../../base/var' as *;

.keyboard {
	width: 100%;
	height: $lc-keyboard-height;
	padding: 0 .25rem .25rem;
	text-align: center;
	align-self: flex-end;

	.k-row {
		display: flex;
		justify-content: space-evenly;
		margin: .5rem 0;

		button {
			position: relative;
			background-color: $lc-gray;
			border: none;
			width: 100%;
			height: 44px;
			border-radius: 8px;
			margin: 0 .25rem;

			&#backspace {
				width: 150%;
				background-color: $lc-gray--dark;
			}

			span,
			img {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				display: block;
			}
		}
	}
}